html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif', sans-serif;
  text-align: center;
}
